Repository asthra-lang/asthra: changes, and which pre-commit hooks are due for each by the changed paths.
All: asthra-grammar-check, documentation-examples-check, user-manual-validation

asthra-grammar-check:
  name: Asthra Grammar Conformance Check
  entry: python3 scripts/grammar_conformance_checker.py
  args:
  - --scan
  - .
  - --fix
  - all
  - --dry-run
  language: system
  pass_filenames: false

documentation-examples-check:
  name: Documentation Examples Grammar Check
  entry: python3 scripts/validate_single_file.py
  language: system
  pass_filenames: true

user-manual-validation:
  name: User Manual Examples Validation
  entry: scripts/validate_manual_examples.sh
  args:
  - docs/user-manual/
  language: system
  pass_filenames: false

feat(codegen): add comprehensive slice support to C code generator
  src/compiler/code_generation.c
  src/compiler/compilation_pipeline.c
Due: none

feat(runtime): implement panic as predeclared identifier
  runtime/asthra_runtime_core.c
  runtime/utils/asthra_runtime_utils.h
  src/codegen/expression_calls.c
  tests/semantic/test_predeclared_functions.c
Due: none

feat: add infinite() predeclared function for unbounded iteration
  docs/spec/predeclared.md
  runtime/asthra_runtime_core.c
  runtime/utils/asthra_runtime_utils.h
  src/analysis/semantic_basic_statements.c
  src/analysis/semantic_builtins.c
  src/analysis/semantic_calls.c
  src/analysis/semantic_main_analysis.c
  src/codegen/expression_calls.c
  tests/semantic/test_predeclared_functions.c
Due: documentation-examples-check

fix(parser): implement deep cloning for AST nodes with ASTNodeList fields
  src/parser/ast_node_creation.c
  src/parser/ast_node_list.c
  src/parser/ast_node_list.h
  tests/parser/test_ast_deep_clone.c
Due: none

feat(testing): setup BDD testing infrastructure
  .gitignore
  CMakeLists.txt
  bdd/CMakeLists.txt
Due: none

feat(testing): setup BDD testing infrastructure
  bdd/CMakeLists.txt
  bdd/README.md
  bdd/features/compiler_basic.feature
  bdd/features/ffi_integration.feature
  bdd/steps/integration/common_steps.c
  bdd/steps/integration/ffi_integration_steps.c
  bdd/steps/unit/common_steps.c
  bdd/steps/unit/compiler_basic_steps.c
  bdd/support/bdd_support.c
  bdd/support/bdd_support.h
Due: none

feat(bdd): implement C step definitions for BDD tests
  bdd/CMakeLists.txt
  bdd/steps/cli_steps.c
  bdd/steps/common_steps.c
  bdd/steps/compilation_steps.c
  bdd/steps/parser_steps.c
  bdd/steps/semantic_steps.c
Due: none

feat(bdd): create comprehensive test fixtures for Asthra language
  bdd/fixtures/README.md
  bdd/fixtures/examples/edge_case_deeply_nested.at
  bdd/fixtures/examples/edge_case_large_expressions.at
  bdd/fixtures/invalid/semantic_mutability_errors.at
  bdd/fixtures/invalid/semantic_undefined_symbols.at
  bdd/fixtures/invalid/semantic_visibility_errors.at
  bdd/fixtures/invalid/syntax_invalid_control_flow.at
  bdd/fixtures/invalid/syntax_invalid_function.at
  bdd/fixtures/invalid/syntax_invalid_struct.at
  bdd/fixtures/invalid/syntax_missing_package.at
  bdd/fixtures/invalid/syntax_missing_semicolon.at
  bdd/fixtures/invalid/type_mismatch.at
  bdd/fixtures/performance/large_program.at
  bdd/fixtures/performance/memory_intensive.at
  bdd/fixtures/valid/concurrency_basic.at
  bdd/fixtures/valid/control_flow_if_else.at
  bdd/fixtures/valid/control_flow_loops.at
  bdd/fixtures/valid/control_flow_pattern_matching.at
  bdd/fixtures/valid/ffi_basic.at
  bdd/fixtures/valid/ffi_struct_interop.at
  bdd/fixtures/valid/functions_basic.at
  bdd/fixtures/valid/hello_world_basic.at
  bdd/fixtures/valid/hello_world_with_variables.at
  bdd/fixtures/valid/structs_basic.at
  bdd/fixtures/valid/structs_with_generics.at
Due: none

feat(ci): create GitHub Actions BDD workflow
  .github/workflows/bdd.yml
  .github/workflows/ci.yml
  .github/workflows/notify-results.yml
Due: none

docs(bdd): create comprehensive BDD testing documentation
  bdd/CONTRIBUTING.md
  bdd/README.md
  docs/contributor/guides/bdd-testing-guide.md
  docs/contributor/reference/bdd-best-practices.md
Due: documentation-examples-check

feat(ci): integrate BDD tests with existing CI/CD infrastructure
  CLAUDE.md
  cmake/Testing.cmake
Due: none

chore(ci): update CGreen to version 1.6.3 in BDD workflow
  .github/workflows/bdd.yml
Due: none

docs(contributor): add guide for running BDD tests locally
  docs/contributor/guides/running-bdd-tests-locally.md
Due: documentation-examples-check

feat(bdd): add scenario for compiling and running executables
  bdd/features/compiler_basic.feature
  bdd/steps/common_steps.c
  bdd/steps/compilation_steps.c
Due: none

feat(bdd): add comprehensive if conditions testing
  bdd/CMakeLists.txt
  bdd/features/if_conditions.feature
  bdd/steps/if_conditions_steps.c
Due: none

docs(contributor): add comprehensive unimplemented features plan
  docs/contributor/unimplemented-features-plan.md
Due: documentation-examples-check

refactor(docs): narrow implementation plan to if conditions features only
  docs/contributor/unimplemented-features-plan.md
Due: documentation-examples-check

fix(tests): resolve failing integration and BDD tests
  bdd/features/if_conditions.feature
  bdd/steps/cli_steps.c
  bdd/steps/if_conditions_steps.c
  docs/architecture/main-function-return-values.md
  docs/contributor/const-expression-operators-plan.md
  docs/contributor/grammar-implementation-gaps.md
  docs/contributor/unimplemented-features-plan.md
  docs/main-function-return-values-summary.md
  docs/spec/overview.md
  docs/spec/types.md
  docs/user-manual/getting-started.md
  docs/user-manual/language-fundamentals.md
  src/codegen/code_generator_abi.c
  src/codegen/code_generator_instructions.h
  src/codegen/instruction_factory.c
  src/parser/grammar_expressions_primary.c
  tests/integration/generic_structs_test_usage.c
Due: documentation-examples-check, user-manual-validation

Fix failing integration and BDD tests (#51)
  bdd/CMakeLists.txt
  bdd/features/compiler_basic.feature
  bdd/features/if_conditions.feature
  bdd/steps/cli_steps.c
  bdd/steps/common_steps.c
  bdd/steps/compilation_steps.c
  bdd/steps/if_conditions_steps.c
  docs/architecture/main-function-return-values.md
  docs/contributor/const-expression-operators-plan.md
  docs/contributor/grammar-implementation-gaps.md
  docs/contributor/unimplemented-features-plan.md
  docs/main-function-return-values-summary.md
  docs/spec/overview.md
  docs/spec/types.md
  docs/user-manual/getting-started.md
  docs/user-manual/language-fundamentals.md
  src/codegen/code_generator_abi.c
  src/codegen/code_generator_instructions.h
  src/codegen/instruction_factory.c
  src/parser/grammar_expressions_primary.c
  tests/integration/generic_structs_test_usage.c
Due: documentation-examples-check, user-manual-validation

feat(semantic): discover const expression operators are already implemented
  docs/contributor/const-expression-operators-plan.md
  docs/contributor/grammar-implementation-gaps.md
  tests/semantic/test_const_expressions.c
Due: documentation-examples-check

feat(semantic): discover const expression operators are already implemented (#52)
  docs/contributor/const-expression-operators-plan.md
  docs/contributor/grammar-implementation-gaps.md
  tests/semantic/test_const_expressions.c
Due: documentation-examples-check

feat(parser): implement ownership tags on variables
  docs/contributor/grammar-implementation-gaps.md
  docs/contributor/ownership-tags-implementation-plan.md
  docs/contributor/ownership-tags-implementation.md
  docs/contributor/ownership-tags-summary.md
  src/analysis/semantic_variables.c
  src/parser/ast_destruction_statements.c
  src/parser/ast_node.h
  src/parser/ast_node_creation.c
  src/parser/grammar_statements_core.c
  tests/parser/test_ownership_tags.c
Due: documentation-examples-check

feat(parser): implement ownership tags on variables (#53)
  docs/contributor/grammar-implementation-gaps.md
  docs/contributor/ownership-tags-implementation-plan.md
  docs/contributor/ownership-tags-implementation.md
  docs/contributor/ownership-tags-summary.md
  src/analysis/semantic_variables.c
  src/parser/ast_destruction_statements.c
  src/parser/ast_node.h
  src/parser/ast_node_creation.c
  src/parser/grammar_statements_core.c
  tests/parser/test_ownership_tags.c
Due: documentation-examples-check

fix(parser): remove spawn_with_handle from unary expressions
  docs/contributor/grammar-implementation-gaps.md
  docs/contributor/spawn-with-handle-fix-plan.md
  docs/contributor/spawn-with-handle-grammar-fix.md
  grammar.txt
  tests/parser/test_spawn_statement_grammar.c
Due: documentation-examples-check

Path conditions:
  asthra-grammar-check: any of: \.asthra$
  documentation-examples-check: any of: ^docs/.*\.md$
  user-manual-validation: any of: ^docs/user-manual/.*\.md$
