Repository asthra-lang/asthra: changes, and which pre-commit hooks are due for each by the changed paths.
All: asthra-grammar-check, documentation-examples-check, user-manual-validation

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: asthra-grammar-check
        name: Asthra Grammar Conformance Check
        entry: python3 scripts/grammar_conformance_checker.py
        args: ['--scan', '.', '--fix', 'all', '--dry-run']
        language: system
        files: '\.asthra$'
        pass_filenames: false
        
      - id: documentation-examples-check
        name: Documentation Examples Grammar Check
        entry: python3 scripts/validate_single_file.py
        language: system
        files: '^docs/.*\.md$'
        pass_filenames: true
        
      - id: user-manual-validation
        name: User Manual Examples Validation
        entry: scripts/validate_manual_examples.sh
        args: ['docs/user-manual/']
        language: system
        files: '^docs/user-manual/.*\.md$'
        pass_filenames: false
        
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
        
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        files: '^scripts/.*\.py$'
        
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        files: '^scripts/.*\.py$'
        args: ['--max-line-length=100', '--ignore=E203,W503']

fix(parser): remove spawn_with_handle from unary expressions (#54)
  docs/contributor/grammar-implementation-gaps.md
  docs/contributor/spawn-with-handle-fix-plan.md
  docs/contributor/spawn-with-handle-grammar-fix.md
  grammar.txt
  tests/parser/test_spawn_statement_grammar.c
Due: documentation-examples-check

test(parser): add comprehensive slice syntax test coverage
  docs/contributor/grammar-implementation-gaps.md
  docs/contributor/slice-syntax-testing-report.md
  tests/parser/test_slice_syntax_comprehensive.c
Due: documentation-examples-check

test(parser): add comprehensive slice syntax test coverage (#55)
  docs/contributor/grammar-implementation-gaps.md
  docs/contributor/slice-syntax-testing-report.md
  tests/parser/test_slice_syntax_comprehensive.c
Due: documentation-examples-check

test(parser,semantic): verify sizeof operator implementation
  docs/contributor/grammar-implementation-gaps.md
  docs/contributor/sizeof-operator-verification.md
  tests/parser/test_sizeof_operator.c
  tests/semantic/test_sizeof_operator_semantic.c
Due: documentation-examples-check

test(parser,semantic): verify sizeof operator implementation (#56)
  docs/contributor/grammar-implementation-gaps.md
  docs/contributor/sizeof-operator-verification.md
  tests/parser/test_sizeof_operator.c
  tests/semantic/test_sizeof_operator_semantic.c
Due: documentation-examples-check

test: comprehensive raw multi-line string verification
  docs/contributor/grammar-implementation-gaps.md
  docs/contributor/raw-multiline-strings-testing.md
  tests/parser/test_raw_multiline_strings.c
Due: documentation-examples-check

test: comprehensive raw multi-line string verification (#57)
  docs/contributor/grammar-implementation-gaps.md
  docs/contributor/raw-multiline-strings-testing.md
  tests/parser/test_raw_multiline_strings.c
Due: documentation-examples-check

test: comprehensive test coverage for raw multi-line strings and repeated array elements
  docs/contributor/grammar-implementation-gaps.md
  docs/contributor/repeated-array-elements-testing.md
  tests/parser/test_repeated_array_elements.c
  tests/semantic/test_repeated_array_semantic.c
Due: documentation-examples-check

test: comprehensive test coverage for raw multi-line strings and repeated array elements (#58)
  docs/contributor/grammar-implementation-gaps.md
  docs/contributor/repeated-array-elements-testing.md
  tests/parser/test_repeated_array_elements.c
  tests/semantic/test_repeated_array_semantic.c
Due: documentation-examples-check

test: verify struct field visibility implementation status
  docs/contributor/grammar-implementation-gaps.md
  docs/contributor/struct-field-visibility-analysis.md
  tests/parser/test_struct_field_visibility.c
  tests/semantic/test_struct_field_visibility_semantic.c
Due: documentation-examples-check

test: verify struct field visibility implementation status (#59)
  docs/contributor/grammar-implementation-gaps.md
  docs/contributor/struct-field-visibility-analysis.md
  tests/parser/test_struct_field_visibility.c
  tests/semantic/test_struct_field_visibility_semantic.c
Due: documentation-examples-check

test: verify associated function calls with generic types are not integrated
  docs/contributor/associated-func-generic-types-analysis.md
  docs/contributor/grammar-implementation-gaps.md
  tests/parser/test_associated_func_generic_types.c
Due: documentation-examples-check

test: verify associated function calls with generic types are not integrated (#60)
  docs/contributor/associated-func-generic-types-analysis.md
  docs/contributor/grammar-implementation-gaps.md
  tests/parser/test_associated_func_generic_types.c
Due: documentation-examples-check

test(logical-not): verify and document logical NOT operator implementation
  docs/contributor/grammar-implementation-gaps.md
  docs/contributor/logical-not-operator-verification.md
  tests/parser/test_logical_not_operator.c
  tests/semantic/test_logical_not_semantic.c
Due: documentation-examples-check

fix: remove problematic test files causing CI build failures
  tests/parser/test_logical_not_operator.c
  tests/semantic/test_logical_not_semantic.c
Due: none

test(logical-not): verify and document logical NOT operator implementation (#61)
  docs/contributor/grammar-implementation-gaps.md
  docs/contributor/logical-not-operator-verification.md
Due: documentation-examples-check

Add test for complex pattern matching
  docs/contributor/complex-pattern-matching-analysis.md
  docs/contributor/grammar-implementation-gaps.md
  tests/parser/test_complex_pattern_matching.c
Due: documentation-examples-check

test: comprehensive analysis and verification of complex language features (#62)
  docs/contributor/complex-pattern-matching-analysis.md
  docs/contributor/grammar-implementation-gaps.md
  tests/parser/test_complex_pattern_matching.c
Due: documentation-examples-check

test(parser): add comprehensive test suite for logical NOT operator
  tests/parser/test_logical_not_operator.c
Due: none

Test for logical not (#64)
  tests/parser/test_logical_not_operator.c
Due: none

fix(bdd): improve error messages and test artifact management
  .gitignore
  bdd/features/compiler_basic.feature
  bdd/steps/common_steps.c
  bdd/steps/unit/compiler_basic_steps.c
  src/parser/lexer.h
  src/parser/parser_core.c
  src/parser/token.c
Due: none

fix(semantic): resolve repeated array semantic test failure
  src/analysis/semantic_arrays.c
  src/analysis/semantic_main_analysis.c
  tests/semantic/test_repeated_array_semantic.c
Due: none

fix(semantic): sizeof const expressions and critical memory safety fixes
  bdd/CMakeLists.txt
  bdd/features/bitwise_operators.feature
  bdd/features/function_calls.feature
  bdd/steps/common_steps.c
  bdd/steps/unit/bitwise_operators_steps.c
  bdd/steps/unit/function_calls_steps.c
  docs/spec/design_rationale.md
  docs/spec/types.md
  docs/user-manual/memory-management.md
  docs/user-manual/security.md
  grammar.txt
  src/analysis/const_evaluator.c
  src/analysis/const_evaluator.h
  src/analysis/semantic_binary_unary.c
  src/analysis/semantic_builtins.c
  src/analysis/semantic_const_declarations.c
  src/analysis/semantic_literals.c
  src/analysis/semantic_type_creation.c
  src/analysis/semantic_type_descriptors.c
  src/analysis/semantic_type_helpers.c
  src/analysis/semantic_type_helpers.h
  src/analysis/semantic_type_resolution.c
  src/analysis/semantic_types_defs.h
  src/analysis/type_checking.c
  src/codegen/code_generator_abi.c
  src/codegen/code_generator_expressions.c
  src/codegen/expression_operations.c
  src/codegen/expression_operations.h
  src/compiler/code_generation.c
  src/parser/grammar_annotations.c
  src/parser/grammar_expressions_primary.c
  src/parser/grammar_literals.c
  src/parser/grammar_patterns.c
  src/parser/grammar_toplevel_const.c
  src/parser/parser_ast_helpers.c
  tests/framework/parser_test_utils.c
  tests/parser/test_ownership_tags.c
  tests/parser/test_repeated_array_elements.c
  tests/parser/test_slice_syntax_comprehensive.c
  tests/semantic/test_complex_mutability.c
Due: documentation-examples-check, user-manual-validation

feat(bdd): add boolean operators BDD tests and best practices guide
  CLAUDE.md
  bdd/BDD_BEST_PRACTICES.md
  bdd/CMakeLists.txt
  bdd/features/boolean_operators.feature
  bdd/features/compiler_basic.feature
  bdd/steps/common_steps.c
  bdd/steps/unit/boolean_operators_steps.c
  bdd/steps/unit/compiler_basic_steps.c
  src/compiler/code_generation.c
Due: none

refactor(docs): reduce CLAUDE.md size by 43% through content extraction
  CLAUDE.md
  docs/architecture/expression-oriented-design.md
  docs/contributor/guides/bdd-testing-guide.md
  docs/contributor/guides/gitignore-compliance.md
  docs/contributor/reference/commands-quick-reference.md
  scripts/check-claude-md-size.sh
  scripts/pre-commit-claude-check.example
Due: documentation-examples-check
