Repository asthra-lang/asthra: changes, and which pre-commit hooks are due for each by the changed paths.
All: asthra-grammar-check, documentation-examples-check, user-manual-validation

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: asthra-grammar-check
        name: Asthra Grammar Conformance Check
        entry: python3 scripts/grammar_conformance_checker.py
        args: ['--scan', '.', '--fix', 'all', '--dry-run']
        language: system
        files: '\.asthra$'
        pass_filenames: false
        
      - id: documentation-examples-check
        name: Documentation Examples Grammar Check
        entry: python3 scripts/validate_single_file.py
        language: system
        files: '^docs/.*\.md$'
        pass_filenames: true
        
      - id: user-manual-validation
        name: User Manual Examples Validation
        entry: scripts/validate_manual_examples.sh
        args: ['docs/user-manual/']
        language: system
        files: '^docs/user-manual/.*\.md$'
        pass_filenames: false
        
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
        
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        files: '^scripts/.*\.py$'
        
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        files: '^scripts/.*\.py$'
        args: ['--max-line-length=100', '--ignore=E203,W503']

feat: add i128 and u128 128-bit integer types support
  examples/i128_u128_demo.asthra
  src/analysis/semantic_builtins.c
  src/analysis/semantic_type_descriptors.c
  src/analysis/semantic_types_defs.h
  src/analysis/type_info.h
  src/analysis/type_info_builtins.c
  src/analysis/type_info_semantic.c
  src/parser/grammar_statements_types.c
  src/parser/keyword.c
  src/parser/lexer.h
  src/parser/parser_types.c
  src/parser/token.c
  tests/lexer/test_i128_u128_keywords.c
  tests/lexer/test_keyword_lookup.c
  tests/semantic/CMakeLists.txt
  tests/semantic/test_i128_u128_types.c
Due: asthra-grammar-check

feat(compiler): complete 128-bit integer support implementation
  docs/spec/types.md
  runtime/asthra_int128.c
  runtime/asthra_int128.h
  runtime/asthra_runtime_modular.h
  src/codegen/code_generator_instructions.h
  src/codegen/codegen_128bit_operations.c
  src/codegen/codegen_128bit_operations.h
  src/codegen/expression_operations.c
  src/codegen/optimization_analysis.c
  tests/semantic/test_i128_u128_types.c
Due: documentation-examples-check

feat: add i128 and u128 128-bit integer types support (#72)
  docs/spec/types.md
  examples/i128_u128_demo.asthra
  runtime/asthra_int128.c
  runtime/asthra_int128.h
  runtime/asthra_runtime_modular.h
  src/analysis/semantic_builtins.c
  src/analysis/semantic_type_descriptors.c
  src/analysis/semantic_types_defs.h
  src/analysis/type_info.h
  src/analysis/type_info_builtins.c
  src/analysis/type_info_semantic.c
  src/codegen/code_generator_instructions.h
  src/codegen/codegen_128bit_operations.c
  src/codegen/codegen_128bit_operations.h
  src/codegen/expression_operations.c
  src/codegen/optimization_analysis.c
  src/parser/grammar_statements_types.c
  src/parser/keyword.c
  src/parser/lexer.h
  src/parser/parser_types.c
  src/parser/token.c
  tests/lexer/test_i128_u128_keywords.c
  tests/lexer/test_keyword_lookup.c
  tests/semantic/CMakeLists.txt
  tests/semantic/test_i128_u128_types.c
Due: asthra-grammar-check, documentation-examples-check

feat(codegen): implement multi-backend architecture with ASM, C, and LLVM support
  bdd/CMakeLists.txt
  bdd/WIP_TAG_FILTERING.md
  bdd/examples/boolean_operators_enhanced_example.c
  bdd/examples/boolean_operators_with_wip.c
  bdd/examples/minimal_wip_example.c
  bdd/steps/cli_steps.c
  bdd/steps/compilation_steps.c
  bdd/steps/if_conditions_steps.c
  bdd/steps/semantic_steps.c
  bdd/steps/unit/bitwise_operators_steps.c
  bdd/steps/unit/boolean_operators_steps.c
  bdd/steps/unit/boolean_operators_steps_updated.c
  bdd/steps/unit/compiler_basic_steps.c
  bdd/steps/unit/function_calls_steps.c
  bdd/support/bdd_support.c
  bdd/support/bdd_support.h
  bdd/support/migrate_to_enhanced_bdd.py
  docs/backend/phase1-implementation-summary.md
  src/cli.c
  src/codegen/asm_backend.c
  src/codegen/backend_factory.c
  src/codegen/backend_interface.h
  src/codegen/c_backend.c
  src/codegen/llvm_backend.c
  src/compiler.h
  src/compiler/compilation_pipeline.c
  src/compiler/options_validation.c
  tests/codegen/CMakeLists.txt
  tests/codegen/backend/CMakeLists.txt
  tests/codegen/backend/CMakeLists_simple.txt
  tests/codegen/backend/backend_test_stubs.c
  tests/codegen/backend/test_backend_infrastructure.c
  tests/codegen/backend/test_backend_simple.c
Due: documentation-examples-check

feat(codegen): implement LLVM backend infrastructure (Phase 2)
  cmake/ThirdParty.cmake
  docs/contributor/guides/llvm-backend-implementation.md
  src/CMakeLists.txt
  src/codegen/llvm_backend.c
  tests/codegen/backend/CMakeLists.txt
  tests/codegen/backend/test_backend_simple.c
  tests/codegen/backend/test_llvm_backend.c
Due: documentation-examples-check

feat(codegen): implement LLVM backend infrastructure (Phase 2) (#74)
  cmake/ThirdParty.cmake
  docs/contributor/guides/llvm-backend-implementation.md
  src/CMakeLists.txt
  src/codegen/llvm_backend.c
  tests/codegen/backend/CMakeLists.txt
  tests/codegen/backend/test_backend_simple.c
  tests/codegen/backend/test_llvm_backend.c
Due: documentation-examples-check

feat(codegen): implement Phase 3 Assembly Backend with multi-architecture support (#68)
  src/codegen/asm_backend.c
  src/codegen/backend_factory.c
  src/codegen/backend_interface.h
  src/codegen/c_backend.c
  src/codegen/code_generator_core.h
  src/codegen/code_generator_lifecycle.c
  src/codegen/codegen_arch_formatter.c
  src/codegen/codegen_assembly_output.c
  src/codegen/llvm_backend.c
  src/compiler.h
  src/compiler/options_validation.c
  tests/codegen/backend/CMakeLists.txt
  tests/codegen/backend/backend_test_stubs.c
  tests/codegen/backend/test_backend_simple.c
  tests/codegen/backend/test_llvm_backend.c
Due: none

feat(codegen): implement Phase 3 Assembly Backend with multi-architecture support (#68) (#75)
  src/codegen/asm_backend.c
  src/codegen/backend_factory.c
  src/codegen/backend_interface.h
  src/codegen/c_backend.c
  src/codegen/code_generator_core.h
  src/codegen/code_generator_lifecycle.c
  src/codegen/codegen_arch_formatter.c
  src/codegen/codegen_assembly_output.c
  src/codegen/llvm_backend.c
  src/compiler.h
  src/compiler/options_validation.c
  tests/codegen/backend/CMakeLists.txt
  tests/codegen/backend/backend_test_stubs.c
  tests/codegen/backend/test_backend_simple.c
  tests/codegen/backend/test_llvm_backend.c
Due: none

feat(codegen): implement Phase 4 Backend Integration & Testing
  src/cli.c
  src/cli.h
  src/compiler/compilation_pipeline.c
  tests/codegen/backend/benchmark_backend_performance.c
  tests/codegen/backend/test_backend_comprehensive.c
  tests/codegen/backend/test_backend_integration.c
Due: none

feat(codegen): implement Phase 4 Backend Integration & Testing (#76)
  src/cli.c
  src/cli.h
  src/compiler/compilation_pipeline.c
  tests/codegen/backend/benchmark_backend_performance.c
  tests/codegen/backend/test_backend_comprehensive.c
  tests/codegen/backend/test_backend_integration.c
Due: none

refactor(bdd): remove all cgreen testing framework dependencies
  .github/workflows/bdd.yml
  bdd/CMakeLists.txt
  bdd/README.md
  docs/contributor/guides/bdd-testing-guide.md
  docs/contributor/guides/running-bdd-tests-locally.md
Due: documentation-examples-check

refactor(bdd): remove all cgreen testing framework dependencies (#77)
  .github/workflows/bdd.yml
  bdd/CMakeLists.txt
  bdd/README.md
  docs/contributor/guides/bdd-testing-guide.md
  docs/contributor/guides/running-bdd-tests-locally.md
Due: documentation-examples-check

fix(ci): make BDD tests mandatory and resolve all dependency issues
  .github/workflows/bdd.yml
  .github/workflows/ci.yml
  .github/workflows/notify-results.yml
  bdd/CMakeLists.txt
  cmake/Documentation.cmake
  cmake/ThirdParty.cmake
  src/ai_server/realtime_analysis.c
  src/ai_server/request_handler.c
  src/ai_server/request_processing.c
  src/utils/json_utils.h
Due: none

fix(ci): remove duplicate BDD test runs by making workflow callable only
  .github/workflows/bdd.yml
Due: none

chore(ci): remove Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: none

feat(llvm): complete Phase 4 & 5 - LLVM ecosystem tools and cleanup
  .github/workflows/build-and-test.yml
  COMPILER_README.md
  PHASE_5_COMPLETION_SUMMARY.md
  src/CMakeLists.txt
  src/analysis/semantic_binary_unary.c
  src/analysis/semantic_main_analysis.c
  src/cli.c
  src/codegen/llvm_backend.c
  src/codegen/llvm_tools.c
  src/codegen/llvm_tools.h
  src/compiler.h
  src/compiler/compilation_pipeline.c
  src/compiler/options_validation.c
  src/compiler/pipeline_core.c
  src/compiler/pipeline_orchestrator.c
  src/compiler/pipeline_phases.c
  src/compiler/pipeline_utils.c
  src/linker/asthra_linker.c
  src/main.c
  src/performance/memory_pool_internal.h
Due: none

feat(coverage): integrate llvm-cov for code coverage instrumentation
  build-asthra.sh
  cmake/CheckCoverageThreshold.cmake
  cmake/Coverage.cmake
  docs/contributor/llvm-cov-integration.md
  examples/coverage_demo.asthra
  src/cli.c
  src/codegen/llvm_tools.c
  src/codegen/llvm_tools.h
  src/compiler.h
  src/compiler/compilation_pipeline.c
  test.ll
Due: asthra-grammar-check, documentation-examples-check

chore: add LLVM intermediate files (.ll, .bc) to gitignore
  .gitignore
Due: none

refactor: rename build.sh to build-all.sh for clarity
  build-all.sh
Due: none

fix(build): update binary path check to build/bin/asthra
  build-asthra.sh
Due: none

docs: add mandatory rule for running tests from root directory
  CLAUDE.md
Due: none

fix(codegen): implement Option/Never types and fix all failing LLVM backend tests
  run-tests.sh
  src/analysis/type_info.h
  src/codegen/llvm_backend.c
  tests/codegen/basic/test_statement_generation_simple.c
  tests/codegen/statements/test_simple_program_generation.c
Due: none

build: add C23 support with C17 fallback
  CMakeLists.txt
  cmake/Compiler.cmake
Due: none

refactor: remove MSVC and GCC support - enforce Clang-only compilation
  CLAUDE.md
  COMPILER_README.md
  bdd/steps/integration/ffi_integration_steps.c
  cmake/BuildTypes.cmake
  cmake/Compiler.cmake
  cmake/Installation.cmake
  cmake/Platform.cmake
  cmake/Targets.cmake
  docs/contributor/reference/platform-support.md
  src/platform.h
  test.bat
  tests/concurrency/concurrency_benchmark_stubs.c
  tests/performance/memory_benchmarks.c
  tests/performance/performance_validation.c
  tools/formatter.c
  tools/linter.c
  tools/test_runner.c
Due: documentation-examples-check

refactor(codegen): split LLVM backend into logical modules and fix C23 compatibility
  src/codegen/llvm_backend.c
  src/codegen/llvm_backend_internal.h
  src/codegen/llvm_expr_gen.c
  src/codegen/llvm_expr_gen.h
  src/codegen/llvm_func_gen.c
  src/codegen/llvm_func_gen.h
  src/codegen/llvm_locals.c
  src/codegen/llvm_locals.h
  src/codegen/llvm_runtime.c
  src/codegen/llvm_runtime.h
  src/codegen/llvm_stmt_gen.c
  src/codegen/llvm_stmt_gen.h
  src/codegen/llvm_types.c
  src/codegen/llvm_types.h
  tests/concurrency/bridge_ffi_init.c
  tests/ffi/ffi_stubs_ast_parser.c
  tests/ffi/ffi_stubs_generator.c
  tests/ffi/ffi_stubs_marshaling.c
Due: none

refactor: remove MSVC and GCC support - enforce Clang-only compilation
  .cursor/rules/testing-and-benchmarking.mdc
  .github/workflows/bdd.yml
  .github/workflows/build-and-test.yml
  .github/workflows/cross-platform-check.yml
  .github/workflows/maintenance.yml
  .github/workflows/notify-results.yml
  .github/workflows/on-demand-test.yml
  .github/workflows/release.yml
  cmake/Benchmarks.cmake
  cmake/Formatting.cmake
  cmake/Sanitizers.cmake
  docs/BUILD.md
  docs/contributor/guides/bdd-testing-guide.md
  docs/contributor/guides/cmake-usage-guide.md
  docs/contributor/guides/cross-platform-development.md
  docs/contributor/guides/never-type-implementation-status.md
  docs/contributor/reference/build-system.md
  docs/contributor/reference/commands-quick-reference.md
  src/static_analysis.h
Due: documentation-examples-check
